In [52]:
# library for accessing API's based on url
# Import all python modules
import requests 
import numpy as np
import pandas as pd
from datetime import datetime
import itertools
import matplotlib.pyplot as plt
import seaborn as sns

In [143]:
# Cal-Adapt API
api = "https://api.cal-adapt.org/api"
headers = {'ContentType': 'json'}

# Point of interest - Glenn City Elementary School
point = 'POINT(-119.08096980316024 34.34871777505949)'

# Name of boundary layer in API (counties track)
resource = "counties"

# Request url
url = '%s/%s/' % (api,resource)

# Request params to find intersecting polygon
params = {'intersects': point, 'srs':4326, 'simplify':0.0001,'precision':4}

# Get geometry
response = requests.get(url, params=params, headers=headers)
if response.ok:
    params = {'intersects': point, 'srs':4326, 'simplify':.0001, 'precision':4}

# Get geometry
response = requests.get(url, params = params, headers=headers)
if response.ok:
    data = response.json()
    feature = data['features'][0]
    if feature:
        ref = '/api/%s/%s/' % (resource, feature['id'])
        params = {'ref': ref, 'stat': 'mean'}
        print('ref:', ref)
        location = 'Counties name %s' % feature['properties']['name']
        print('location:', location)
    else:
        print('Did not find any polygons that intersect your point')

ref: /api/counties/56/
location: Counties name Ventura

In [144]:
# Base url for extreme heat and %s is the placeholder for the slug
baseurl = 'https://api.cal-adapt.org/api/series/%s/events/'

def fetch_exheat(*urlargs, **params):
    # all possible combinations of the URL
    items = itertools.product(*urlargs)
    series = []
    for parts in items:
        slug = '_'.join(parts)
        print('Processing:', slug)
        # Sends GET request to the API using the URL constructed
        response = requests.get(baseurl % slug, params)
        data = response.json()
        # extracts the counts and converts to pandas series
        counts = pd.Series(data['data']).sort_index()
        # convert to date time remove time zones
        counts.index = pd.to_datetime(counts.index).tz_localize(None)
        # assign name of the series to the series object
        counts.name = slug
        # append series to list
        series.append(counts)
        # return panda dataframe
    return pd.concat(series, axis=1)

In [145]:
# Requesting object
climvar = ['tasmax']
period = ['day']
models = ['CanESM2', 'CNRM-CM5', 'HadGEM2-ES', 'MIROC5']
scenarios = ['rcp45','rcp85']
#hmodelcounts = fetch_exheat(climvar, period, models, ['historical'], **params)
# Historical fata fetch
#hmodelcounts.columns = hmodelcounts.columns.str.replace('tasmax_day_', '')
projcounts = fetch_exheat(climvar, period, models, scenarios, **params)
# Projected data fetch
projcounts.columns = projcounts.columns.str.replace('tasmax_day_', '')
projcounts = projcounts.append(hmodelcounts).sort_index()
projcounts.head()

Processing: tasmax_day_CanESM2_rcp45
Processing: tasmax_day_CanESM2_rcp85
Processing: tasmax_day_CNRM-CM5_rcp45
Processing: tasmax_day_CNRM-CM5_rcp85
Processing: tasmax_day_HadGEM2-ES_rcp45
Processing: tasmax_day_HadGEM2-ES_rcp85
Processing: tasmax_day_MIROC5_rcp45
Processing: tasmax_day_MIROC5_rcp85

/tmp/ipykernel_203833/142259574.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  projcounts = projcounts.append(hmodelcounts).sort_index()

,CanESM2_rcp45,CanESM2_rcp85,CNRM-CM5_rcp45,CNRM-CM5_rcp85,HadGEM2-ES_rcp45,HadGEM2-ES_rcp85,MIROC5_rcp45,MIROC5_rcp85,CanESM2_historical,CNRM-CM5_historical,HadGEM2-ES_historical,MIROC5_historical
1970-01-01 00:00:00.000000000,284.498779,285.881378,293.527771,294.001282,285.914062,285.395691,290.577179,289.794037,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,285.317200,289.069611,286.450531,291.513397
1970-01-01 00:00:00.000000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,289.380127,288.922607,286.382385,290.304108
1970-01-01 00:00:00.000000001,282.276917,283.466858,291.430847,291.252472,280.146271,286.636017,290.862518,290.628143,NaN,NaN,NaN,NaN
1970-01-01 00:00:00.000000002,283.724945,284.097473,289.470459,289.803619,278.752899,285.111938,290.984070,291.227631,NaN,NaN,NaN,NaN

In [146]:
url = 'https://api.cal-adapt.org/api/series/tasmax_day_CanESM2_rcp85/events/'

# Make request
response = requests.get(url, params=params)

df = pd.read_json(response.text, typ='series', orient='split')

In [136]:
print(df.head)

<bound method NDFrame.head of 1950-01-01 00:00:00+00:00    285.317200
1950-01-02 00:00:00+00:00    289.380127
1950-01-03 00:00:00+00:00    291.267059
1950-01-04 00:00:00+00:00    293.566528
1950-01-05 00:00:00+00:00    290.471313
                                ...
2005-12-27 00:00:00+00:00    290.459961
2005-12-28 00:00:00+00:00    291.360565
2005-12-29 00:00:00+00:00    289.391571
2005-12-30 00:00:00+00:00    287.578033
2005-12-31 00:00:00+00:00    286.561707
Name: tasmax_day_CanESM2_historical, Length: 20454, dtype: float64>

In [14]:
hmodelcounts

In [150]:
obsurl = 'https://api.cal-adapt.org/api/series/tasmax_day_HadGEM2-ES_historical/exheat/'

In [224]:
baseurl = 'https://api.cal-adapt.org/api/series/%s/exheat/'
params.update(freq='M')

def fetch_exheat(*urlargs, **params):
    items = itertools.product(*urlargs)
    series = []
    for parts in items:
        slug = '_'.join(parts)
        print('Processing:', slug)
        response = requests.get(baseurl % slug, params)
        data = response.json()
        counts = pd.Series(data['counts']).sort_index()
        counts.index = pd.to_datetime(counts.index).tz_localize(None)
        counts.name = slug
        series.append(counts)
    return pd.concat(series, axis=1)

In [225]:
climvar = ['tasmax']
period = ['day']
models = ['CanESM2', 'CNRM-CM5', 'HadGEM2-ES', 'MIROC5']
scenarios = ['rcp45','rcp85']
hmodelcounts = fetch_exheat(climvar, period, models, ['historical'], **params)

projcounts = fetch_exheat(climvar, period, models, scenarios, **params)
projcounts = projcounts.append(hmodelcounts).sort_index()
projcounts.head()

Processing: tasmax_day_CanESM2_historical
Processing: tasmax_day_CNRM-CM5_historical
Processing: tasmax_day_HadGEM2-ES_historical
Processing: tasmax_day_MIROC5_historical
Processing: tasmax_day_CanESM2_rcp45
Processing: tasmax_day_CanESM2_rcp85
Processing: tasmax_day_CNRM-CM5_rcp45
Processing: tasmax_day_CNRM-CM5_rcp85
Processing: tasmax_day_HadGEM2-ES_rcp45
Processing: tasmax_day_HadGEM2-ES_rcp85
Processing: tasmax_day_MIROC5_rcp45
Processing: tasmax_day_MIROC5_rcp85

/tmp/ipykernel_203833/583059455.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  projcounts = projcounts.append(hmodelcounts).sort_index()

,tasmax_day_CanESM2_rcp45,tasmax_day_CanESM2_rcp85,tasmax_day_CNRM-CM5_rcp45,tasmax_day_CNRM-CM5_rcp85,tasmax_day_HadGEM2-ES_rcp45,tasmax_day_HadGEM2-ES_rcp85,tasmax_day_MIROC5_rcp45,tasmax_day_MIROC5_rcp85,tasmax_day_CanESM2_historical,tasmax_day_CNRM-CM5_historical,tasmax_day_HadGEM2-ES_historical,tasmax_day_MIROC5_historical
1950-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,2.0
1950-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,0.0,NaN,0.0
1950-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0
1950-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0
1950-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0

In [210]:
params.update(freq='M')
response = requests.get(obsurl, params)
data = response.json()
hmcounts = pd.DataFrame.from_dict(data)
hmcounts.index = pd.to_datetime(hmcounts.index).tz_convert(None)
hmcounts = pd.DataFrame(hmcounts['counts'])
hmcounts.rename(columns = {'counts' : ''})

            A
1951-08-31  1
1951-09-30  0
1951-10-31  1
1951-11-30  0
1951-12-31  0
...        ..
2005-04-30  0
2005-05-31  0
2005-06-30  0
2005-07-31  0
2005-08-31  2

[649 rows x 1 columns]

In [203]:
hmcounts

            counts
1951-08-31       1
1951-09-30       0
1951-10-31       1
1951-11-30       0
1951-12-31       0
...            ...
2005-04-30       0
2005-05-31       0
2005-06-30       0
2005-07-31       0
2005-08-31       2

[649 rows x 1 columns]

            counts
1951-08-31       1
1951-09-30       0
1951-10-31       1
1951-11-30       0
1951-12-31       0
...            ...
2005-04-30       0
2005-05-31       0
2005-06-30       0
2005-07-31       0
2005-08-31       2

[649 rows x 1 columns]

In [165]:
data

{'98p': 88.79493530273436,
 'counts': {'1951-08-31T00:00:00+00:00': 1,
  '1951-09-30T00:00:00+00:00': 0,
  '1951-10-31T00:00:00+00:00': 1,
  '1951-11-30T00:00:00+00:00': 0,
  '1951-12-31T00:00:00+00:00': 0,
  '1952-01-31T00:00:00+00:00': 0,
  '1952-02-29T00:00:00+00:00': 0,
  '1952-03-31T00:00:00+00:00': 0,
  '1952-04-30T00:00:00+00:00': 0,
  '1952-05-31T00:00:00+00:00': 0,
  '1952-06-30T00:00:00+00:00': 0,
  '1952-07-31T00:00:00+00:00': 3,
  '1952-08-31T00:00:00+00:00': 2,
  '1952-09-30T00:00:00+00:00': 4,
  '1952-10-31T00:00:00+00:00': 0,
  '1952-11-30T00:00:00+00:00': 0,
  '1952-12-31T00:00:00+00:00': 0,
  '1953-01-31T00:00:00+00:00': 0,
  '1953-02-28T00:00:00+00:00': 0,
  '1953-03-31T00:00:00+00:00': 0,
  '1953-04-30T00:00:00+00:00': 0,
  '1953-05-31T00:00:00+00:00': 0,
  '1953-06-30T00:00:00+00:00': 0,
  '1953-07-31T00:00:00+00:00': 0,
  '1953-08-31T00:00:00+00:00': 0,
  '1953-09-30T00:00:00+00:00': 8,
  '1953-10-31T00:00:00+00:00': 0,
  '1953-11-30T00:00:00+00:00': 0,
  '1953-12-31T00:00:00+00:00': 0,
  '1954-01-31T00:00:00+00:00': 0,
  '1954-02-28T00:00:00+00:00': 0,
  '1954-03-31T00:00:00+00:00': 0,
  '1954-04-30T00:00:00+00:00': 0,
  '1954-05-31T00:00:00+00:00': 0,
  '1954-06-30T00:00:00+00:00': 3,
  '1954-07-31T00:00:00+00:00': 3,
  '1954-08-31T00:00:00+00:00': 0,
  '1954-09-30T00:00:00+00:00': 1,
  '1954-10-31T00:00:00+00:00': 0,
  '1954-11-30T00:00:00+00:00': 0,
  '1954-12-31T00:00:00+00:00': 0,
  '1955-01-31T00:00:00+00:00': 0,
  '1955-02-28T00:00:00+00:00': 0,
  '1955-03-31T00:00:00+00:00': 0,
  '1955-04-30T00:00:00+00:00': 0,
  '1955-05-31T00:00:00+00:00': 0,
  '1955-06-30T00:00:00+00:00': 0,
  '1955-07-31T00:00:00+00:00': 0,
  '1955-08-31T00:00:00+00:00': 0,
  '1955-09-30T00:00:00+00:00': 3,
  '1955-10-31T00:00:00+00:00': 0,
  '1955-11-30T00:00:00+00:00': 0,
  '1955-12-31T00:00:00+00:00': 0,
  '1956-01-31T00:00:00+00:00': 0,
  '1956-02-29T00:00:00+00:00': 0,
  '1956-03-31T00:00:00+00:00': 0,
  '1956-04-30T00:00:00+00:00': 0,
  '1956-05-31T00:00:00+00:00': 0,
  '1956-06-30T00:00:00+00:00': 3,
  '1956-07-31T00:00:00+00:00': 1,
  '1956-08-31T00:00:00+00:00': 5,
  '1956-09-30T00:00:00+00:00': 0,
  '1956-10-31T00:00:00+00:00': 1,
  '1956-11-30T00:00:00+00:00': 0,
  '1956-12-31T00:00:00+00:00': 0,
  '1957-01-31T00:00:00+00:00': 0,
  '1957-02-28T00:00:00+00:00': 0,
  '1957-03-31T00:00:00+00:00': 0,
  '1957-04-30T00:00:00+00:00': 0,
  '1957-05-31T00:00:00+00:00': 1,
  '1957-06-30T00:00:00+00:00': 0,
  '1957-07-31T00:00:00+00:00': 3,
  '1957-08-31T00:00:00+00:00': 2,
  '1957-09-30T00:00:00+00:00': 0,
  '1957-10-31T00:00:00+00:00': 0,
  '1957-11-30T00:00:00+00:00': 0,
  '1957-12-31T00:00:00+00:00': 0,
  '1958-01-31T00:00:00+00:00': 0,
  '1958-02-28T00:00:00+00:00': 0,
  '1958-03-31T00:00:00+00:00': 0,
  '1958-04-30T00:00:00+00:00': 0,
  '1958-05-31T00:00:00+00:00': 0,
  '1958-06-30T00:00:00+00:00': 3,
  '1958-07-31T00:00:00+00:00': 3,
  '1958-08-31T00:00:00+00:00': 1,
  '1958-09-30T00:00:00+00:00': 0,
  '1958-10-31T00:00:00+00:00': 0,
  '1958-11-30T00:00:00+00:00': 0,
  '1958-12-31T00:00:00+00:00': 0,
  '1959-01-31T00:00:00+00:00': 0,
  '1959-02-28T00:00:00+00:00': 0,
  '1959-03-31T00:00:00+00:00': 0,
  '1959-04-30T00:00:00+00:00': 0,
  '1959-05-31T00:00:00+00:00': 0,
  '1959-06-30T00:00:00+00:00': 0,
  '1959-07-31T00:00:00+00:00': 2,
  '1959-08-31T00:00:00+00:00': 0,
  '1959-09-30T00:00:00+00:00': 3,
  '1959-10-31T00:00:00+00:00': 0,
  '1959-11-30T00:00:00+00:00': 0,
  '1959-12-31T00:00:00+00:00': 0,
  '1960-01-31T00:00:00+00:00': 0,
  '1960-02-29T00:00:00+00:00': 0,
  '1960-03-31T00:00:00+00:00': 0,
  '1960-04-30T00:00:00+00:00': 0,
  '1960-05-31T00:00:00+00:00': 2,
  '1960-06-30T00:00:00+00:00': 0,
  '1960-07-31T00:00:00+00:00': 1,
  '1960-08-31T00:00:00+00:00': 1,
  '1960-09-30T00:00:00+00:00': 1,
  '1960-10-31T00:00:00+00:00': 0,
  '1960-11-30T00:00:00+00:00': 0,
  '1960-12-31T00:00:00+00:00': 0,
  '1961-01-31T00:00:00+00:00': 0,
  '1961-02-28T00:00:00+00:00': 0,
  '1961-03-31T00:00:00+00:00': 0,
  '1961-04-30T00:00:00+00:00': 2,
  '1961-05-31T00:00:00+00:00': 0,
  '1961-06-30T00:00:00+00:00': 0,
  '1961-07-31T00:00:00+00:00': 0,
  '1961-08-31T00:00:00+00:00': 2,
  '1961-09-30T00:00:00+00:00': 3,
  '1961-10-31T00:00:00+00:00': 0,
  '1961-11-30T00:00:00+00:00': 0,
  '1961-12-31T00:00:00+00:00': 0,
  '1962-01-31T00:00:00+00:00': 0,
  '1962-02-28T00:00:00+00:00': 0,
  '1962-03-31T00:00:00+00:00': 0,
  '1962-04-30T00:00:00+00:00': 0,
  '1962-05-31T00:00:00+00:00': 0,
  '1962-06-30T00:00:00+00:00': 0,
  '1962-07-31T00:00:00+00:00': 3,
  '1962-08-31T00:00:00+00:00': 0,
  '1962-09-30T00:00:00+00:00': 0,
  '1962-10-31T00:00:00+00:00': 0,
  '1962-11-30T00:00:00+00:00': 0,
  '1962-12-31T00:00:00+00:00': 0,
  '1963-01-31T00:00:00+00:00': 0,
  '1963-02-28T00:00:00+00:00': 0,
  '1963-03-31T00:00:00+00:00': 0,
  '1963-04-30T00:00:00+00:00': 0,
  '1963-05-31T00:00:00+00:00': 0,
  '1963-06-30T00:00:00+00:00': 0,
  '1963-07-31T00:00:00+00:00': 0,
  '1963-08-31T00:00:00+00:00': 2,
  '1963-09-30T00:00:00+00:00': 3,
  '1963-10-31T00:00:00+00:00': 0,
  '1963-11-30T00:00:00+00:00': 0,
  '1963-12-31T00:00:00+00:00': 0,
  '1964-01-31T00:00:00+00:00': 0,
  '1964-02-29T00:00:00+00:00': 0,
  '1964-03-31T00:00:00+00:00': 0,
  '1964-04-30T00:00:00+00:00': 0,
  '1964-05-31T00:00:00+00:00': 0,
  '1964-06-30T00:00:00+00:00': 2,
  '1964-07-31T00:00:00+00:00': 0,
  '1964-08-31T00:00:00+00:00': 0,
  '1964-09-30T00:00:00+00:00': 0,
  '1964-10-31T00:00:00+00:00': 0,
  '1964-11-30T00:00:00+00:00': 0,
  '1964-12-31T00:00:00+00:00': 0,
  '1965-01-31T00:00:00+00:00': 0,
  '1965-02-28T00:00:00+00:00': 0,
  '1965-03-31T00:00:00+00:00': 0,
  '1965-04-30T00:00:00+00:00': 0,
  '1965-05-31T00:00:00+00:00': 1,
  '1965-06-30T00:00:00+00:00': 0,
  '1965-07-31T00:00:00+00:00': 0,
  '1965-08-31T00:00:00+00:00': 1,
  '1965-09-30T00:00:00+00:00': 0,
  '1965-10-31T00:00:00+00:00': 0,
  '1965-11-30T00:00:00+00:00': 0,
  '1965-12-31T00:00:00+00:00': 0,
  '1966-01-31T00:00:00+00:00': 0,
  '1966-02-28T00:00:00+00:00': 0,
  '1966-03-31T00:00:00+00:00': 0,
  '1966-04-30T00:00:00+00:00': 0,
  '1966-05-31T00:00:00+00:00': 1,
  '1966-06-30T00:00:00+00:00': 3,
  '1966-07-31T00:00:00+00:00': 0,
  '1966-08-31T00:00:00+00:00': 0,
  '1966-09-30T00:00:00+00:00': 0,
  '1966-10-31T00:00:00+00:00': 0,
  '1966-11-30T00:00:00+00:00': 0,
  '1966-12-31T00:00:00+00:00': 0,
  '1967-01-31T00:00:00+00:00': 0,
  '1967-02-28T00:00:00+00:00': 0,
  '1967-03-31T00:00:00+00:00': 0,
  '1967-04-30T00:00:00+00:00': 0,
  '1967-05-31T00:00:00+00:00': 0,
  '1967-06-30T00:00:00+00:00': 0,
  '1967-07-31T00:00:00+00:00': 0,
  '1967-08-31T00:00:00+00:00': 1,
  '1967-09-30T00:00:00+00:00': 0,
  '1967-10-31T00:00:00+00:00': 1,
  '1967-11-30T00:00:00+00:00': 0,
  '1967-12-31T00:00:00+00:00': 0,
  '1968-01-31T00:00:00+00:00': 0,
  '1968-02-29T00:00:00+00:00': 0,
  '1968-03-31T00:00:00+00:00': 0,
  '1968-04-30T00:00:00+00:00': 0,
  '1968-05-31T00:00:00+00:00': 0,
  '1968-06-30T00:00:00+00:00': 0,
  '1968-07-31T00:00:00+00:00': 0,
  '1968-08-31T00:00:00+00:00': 4,
  '1968-09-30T00:00:00+00:00': 2,
  '1968-10-31T00:00:00+00:00': 0,
  '1968-11-30T00:00:00+00:00': 0,
  '1968-12-31T00:00:00+00:00': 0,
  '1969-01-31T00:00:00+00:00': 0,
  '1969-02-28T00:00:00+00:00': 0,
  '1969-03-31T00:00:00+00:00': 0,
  '1969-04-30T00:00:00+00:00': 0,
  '1969-05-31T00:00:00+00:00': 0,
  '1969-06-30T00:00:00+00:00': 0,
  '1969-07-31T00:00:00+00:00': 0,
  '1969-08-31T00:00:00+00:00': 0,
  '1969-09-30T00:00:00+00:00': 0,
  '1969-10-31T00:00:00+00:00': 0,
  '1969-11-30T00:00:00+00:00': 0,
  '1969-12-31T00:00:00+00:00': 0,
  '1970-01-31T00:00:00+00:00': 0,
  '1970-02-28T00:00:00+00:00': 0,
  '1970-03-31T00:00:00+00:00': 0,
  '1970-04-30T00:00:00+00:00': 0,
  '1970-05-31T00:00:00+00:00': 0,
  '1970-06-30T00:00:00+00:00': 0,
  '1970-07-31T00:00:00+00:00': 0,
  '1970-08-31T00:00:00+00:00': 2,
  '1970-09-30T00:00:00+00:00': 0,
  '1970-10-31T00:00:00+00:00': 0,
  '1970-11-30T00:00:00+00:00': 0,
  '1970-12-31T00:00:00+00:00': 0,
  '1971-01-31T00:00:00+00:00': 0,
  '1971-02-28T00:00:00+00:00': 0,
  '1971-03-31T00:00:00+00:00': 0,
  '1971-04-30T00:00:00+00:00': 0,
  '1971-05-31T00:00:00+00:00': 0,
  '1971-06-30T00:00:00+00:00': 0,
  '1971-07-31T00:00:00+00:00': 0,
  '1971-08-31T00:00:00+00:00': 0,
  '1971-09-30T00:00:00+00:00': 0,
  '1971-10-31T00:00:00+00:00': 0,
  '1971-11-30T00:00:00+00:00': 0,
  '1971-12-31T00:00:00+00:00': 0,
  '1972-01-31T00:00:00+00:00': 0,
  '1972-02-29T00:00:00+00:00': 0,
  '1972-03-31T00:00:00+00:00': 0,
  '1972-04-30T00:00:00+00:00': 0,
  '1972-05-31T00:00:00+00:00': 0,
  '1972-06-30T00:00:00+00:00': 1,
  '1972-07-31T00:00:00+00:00': 0,
  '1972-08-31T00:00:00+00:00': 0,
  '1972-09-30T00:00:00+00:00': 4,
  '1972-10-31T00:00:00+00:00': 0,
  '1972-11-30T00:00:00+00:00': 0,
  '1972-12-31T00:00:00+00:00': 0,
  '1973-01-31T00:00:00+00:00': 0,
  '1973-02-28T00:00:00+00:00': 0,
  '1973-03-31T00:00:00+00:00': 0,
  '1973-04-30T00:00:00+00:00': 0,
  '1973-05-31T00:00:00+00:00': 0,
  '1973-06-30T00:00:00+00:00': 0,
  '1973-07-31T00:00:00+00:00': 0,
  '1973-08-31T00:00:00+00:00': 3,
  '1973-09-30T00:00:00+00:00': 7,
  '1973-10-31T00:00:00+00:00': 2,
  '1973-11-30T00:00:00+00:00': 0,
  '1973-12-31T00:00:00+00:00': 0,
  '1974-01-31T00:00:00+00:00': 0,
  '1974-02-28T00:00:00+00:00': 0,
  '1974-03-31T00:00:00+00:00': 0,
  '1974-04-30T00:00:00+00:00': 0,
  '1974-05-31T00:00:00+00:00': 0,
  '1974-06-30T00:00:00+00:00': 0,
  '1974-07-31T00:00:00+00:00': 0,
  '1974-08-31T00:00:00+00:00': 2,
  '1974-09-30T00:00:00+00:00': 0,
  '1974-10-31T00:00:00+00:00': 0,
  '1974-11-30T00:00:00+00:00': 0,
  '1974-12-31T00:00:00+00:00': 0,
  '1975-01-31T00:00:00+00:00': 0,
  '1975-02-28T00:00:00+00:00': 0,
  '1975-03-31T00:00:00+00:00': 0,
  '1975-04-30T00:00:00+00:00': 0,
  '1975-05-31T00:00:00+00:00': 0,
  '1975-06-30T00:00:00+00:00': 0,
  '1975-07-31T00:00:00+00:00': 0,
  '1975-08-31T00:00:00+00:00': 3,
  '1975-09-30T00:00:00+00:00': 2,
  '1975-10-31T00:00:00+00:00': 0,
  '1975-11-30T00:00:00+00:00': 0,
  '1975-12-31T00:00:00+00:00': 0,
  '1976-01-31T00:00:00+00:00': 0,
  '1976-02-29T00:00:00+00:00': 0,
  '1976-03-31T00:00:00+00:00': 0,
  '1976-04-30T00:00:00+00:00': 0,
  '1976-05-31T00:00:00+00:00': 0,
  '1976-06-30T00:00:00+00:00': 0,
  '1976-07-31T00:00:00+00:00': 3,
  '1976-08-31T00:00:00+00:00': 0,
  '1976-09-30T00:00:00+00:00': 0,
  '1976-10-31T00:00:00+00:00': 1,
  '1976-11-30T00:00:00+00:00': 0,
  '1976-12-31T00:00:00+00:00': 0,
  '1977-01-31T00:00:00+00:00': 0,
  '1977-02-28T00:00:00+00:00': 0,
  '1977-03-31T00:00:00+00:00': 0,
  '1977-04-30T00:00:00+00:00': 0,
  '1977-05-31T00:00:00+00:00': 0,
  '1977-06-30T00:00:00+00:00': 0,
  '1977-07-31T00:00:00+00:00': 0,
  '1977-08-31T00:00:00+00:00': 0,
  '1977-09-30T00:00:00+00:00': 10,
  '1977-10-31T00:00:00+00:00': 0,
  '1977-11-30T00:00:00+00:00': 0,
  '1977-12-31T00:00:00+00:00': 0,
  '1978-01-31T00:00:00+00:00': 0,
  '1978-02-28T00:00:00+00:00': 0,
  '1978-03-31T00:00:00+00:00': 0,
  '1978-04-30T00:00:00+00:00': 0,
  '1978-05-31T00:00:00+00:00': 0,
  '1978-06-30T00:00:00+00:00': 0,
  '1978-07-31T00:00:00+00:00': 2,
  '1978-08-31T00:00:00+00:00': 0,
  '1978-09-30T00:00:00+00:00': 1,
  '1978-10-31T00:00:00+00:00': 0,
  '1978-11-30T00:00:00+00:00': 0,
  '1978-12-31T00:00:00+00:00': 0,
  '1979-01-31T00:00:00+00:00': 0,
  '1979-02-28T00:00:00+00:00': 0,
  '1979-03-31T00:00:00+00:00': 0,
  '1979-04-30T00:00:00+00:00': 0,
  '1979-05-31T00:00:00+00:00': 0,
  '1979-06-30T00:00:00+00:00': 0,
  '1979-07-31T00:00:00+00:00': 3,
  '1979-08-31T00:00:00+00:00': 0,
  '1979-09-30T00:00:00+00:00': 0,
  '1979-10-31T00:00:00+00:00': 0,
  '1979-11-30T00:00:00+00:00': 0,
  '1979-12-31T00:00:00+00:00': 0,
  '1980-01-31T00:00:00+00:00': 0,
  '1980-02-29T00:00:00+00:00': 0,
  '1980-03-31T00:00:00+00:00': 0,
  '1980-04-30T00:00:00+00:00': 0,
  '1980-05-31T00:00:00+00:00': 0,
  '1980-06-30T00:00:00+00:00': 0,
  '1980-07-31T00:00:00+00:00': 0,
  '1980-08-31T00:00:00+00:00': 0,
  '1980-09-30T00:00:00+00:00': 1,
  '1980-10-31T00:00:00+00:00': 0,
  '1980-11-30T00:00:00+00:00': 0,
  '1980-12-31T00:00:00+00:00': 0,
  '1981-01-31T00:00:00+00:00': 0,
  '1981-02-28T00:00:00+00:00': 0,
  '1981-03-31T00:00:00+00:00': 0,
  '1981-04-30T00:00:00+00:00': 0,
  '1981-05-31T00:00:00+00:00': 0,
  '1981-06-30T00:00:00+00:00': 0,
  '1981-07-31T00:00:00+00:00': 0,
  '1981-08-31T00:00:00+00:00': 0,
  '1981-09-30T00:00:00+00:00': 0,
  '1981-10-31T00:00:00+00:00': 0,
  '1981-11-30T00:00:00+00:00': 0,
  '1981-12-31T00:00:00+00:00': 0,
  '1982-01-31T00:00:00+00:00': 0,
  '1982-02-28T00:00:00+00:00': 0,
  '1982-03-31T00:00:00+00:00': 0,
  '1982-04-30T00:00:00+00:00': 0,
  '1982-05-31T00:00:00+00:00': 0,
  '1982-06-30T00:00:00+00:00': 3,
  '1982-07-31T00:00:00+00:00': 0,
  '1982-08-31T00:00:00+00:00': 0,
  '1982-09-30T00:00:00+00:00': 0,
  '1982-10-31T00:00:00+00:00': 0,
  '1982-11-30T00:00:00+00:00': 0,
  '1982-12-31T00:00:00+00:00': 0,
  '1983-01-31T00:00:00+00:00': 0,
  '1983-02-28T00:00:00+00:00': 0,
  '1983-03-31T00:00:00+00:00': 0,
  '1983-04-30T00:00:00+00:00': 0,
  '1983-05-31T00:00:00+00:00': 0,
  '1983-06-30T00:00:00+00:00': 0,
  '1983-07-31T00:00:00+00:00': 0,
  '1983-08-31T00:00:00+00:00': 0,
  '1983-09-30T00:00:00+00:00': 2,
  '1983-10-31T00:00:00+00:00': 0,
  '1983-11-30T00:00:00+00:00': 0,
  '1983-12-31T00:00:00+00:00': 0,
  '1984-01-31T00:00:00+00:00': 0,
  '1984-02-29T00:00:00+00:00': 0,
  '1984-03-31T00:00:00+00:00': 0,
  '1984-04-30T00:00:00+00:00': 1,
  '1984-05-31T00:00:00+00:00': 0,
  '1984-06-30T00:00:00+00:00': 0,
  '1984-07-31T00:00:00+00:00': 0,
  '1984-08-31T00:00:00+00:00': 0,
  '1984-09-30T00:00:00+00:00': 1,
  '1984-10-31T00:00:00+00:00': 0,
  '1984-11-30T00:00:00+00:00': 0,
  '1984-12-31T00:00:00+00:00': 0,
  '1985-01-31T00:00:00+00:00': 0,
  '1985-02-28T00:00:00+00:00': 0,
  '1985-03-31T00:00:00+00:00': 0,
  '1985-04-30T00:00:00+00:00': 0,
  '1985-05-31T00:00:00+00:00': 0,
  '1985-06-30T00:00:00+00:00': 0,
  '1985-07-31T00:00:00+00:00': 0,
  '1985-08-31T00:00:00+00:00': 0,
  '1985-09-30T00:00:00+00:00': 0,
  '1985-10-31T00:00:00+00:00': 0,
  '1985-11-30T00:00:00+00:00': 0,
  '1985-12-31T00:00:00+00:00': 0,
  '1986-01-31T00:00:00+00:00': 0,
  '1986-02-28T00:00:00+00:00': 0,
  '1986-03-31T00:00:00+00:00': 0,
  '1986-04-30T00:00:00+00:00': 0,
  '1986-05-31T00:00:00+00:00': 0,
  '1986-06-30T00:00:00+00:00': 0,
  '1986-07-31T00:00:00+00:00': 4,
  '1986-08-31T00:00:00+00:00': 0,
  '1986-09-30T00:00:00+00:00': 0,
  '1986-10-31T00:00:00+00:00': 0,
  '1986-11-30T00:00:00+00:00': 0,
  '1986-12-31T00:00:00+00:00': 0,
  '1987-01-31T00:00:00+00:00': 0,
  '1987-02-28T00:00:00+00:00': 0,
  '1987-03-31T00:00:00+00:00': 0,
  '1987-04-30T00:00:00+00:00': 0,
  '1987-05-31T00:00:00+00:00': 0,
  '1987-06-30T00:00:00+00:00': 0,
  '1987-07-31T00:00:00+00:00': 0,
  '1987-08-31T00:00:00+00:00': 2,
  '1987-09-30T00:00:00+00:00': 0,
  '1987-10-31T00:00:00+00:00': 0,
  '1987-11-30T00:00:00+00:00': 0,
  '1987-12-31T00:00:00+00:00': 0,
  '1988-01-31T00:00:00+00:00': 0,
  '1988-02-29T00:00:00+00:00': 0,
  '1988-03-31T00:00:00+00:00': 0,
  '1988-04-30T00:00:00+00:00': 0,
  '1988-05-31T00:00:00+00:00': 0,
  '1988-06-30T00:00:00+00:00': 1,
  '1988-07-31T00:00:00+00:00': 4,
  '1988-08-31T00:00:00+00:00': 2,
  '1988-09-30T00:00:00+00:00': 0,
  '1988-10-31T00:00:00+00:00': 0,
  '1988-11-30T00:00:00+00:00': 0,
  '1988-12-31T00:00:00+00:00': 0,
  '1989-01-31T00:00:00+00:00': 0,
  '1989-02-28T00:00:00+00:00': 0,
  '1989-03-31T00:00:00+00:00': 0,
  '1989-04-30T00:00:00+00:00': 0,
  '1989-05-31T00:00:00+00:00': 0,
  '1989-06-30T00:00:00+00:00': 0,
  '1989-07-31T00:00:00+00:00': 2,
  '1989-08-31T00:00:00+00:00': 1,
  '1989-09-30T00:00:00+00:00': 0,
  '1989-10-31T00:00:00+00:00': 0,
  '1989-11-30T00:00:00+00:00': 0,
  '1989-12-31T00:00:00+00:00': 0,
  '1990-01-31T00:00:00+00:00': 0,
  '1990-02-28T00:00:00+00:00': 0,
  '1990-03-31T00:00:00+00:00': 0,
  '1990-04-30T00:00:00+00:00': 0,
  '1990-05-31T00:00:00+00:00': 0,
  '1990-06-30T00:00:00+00:00': 0,
  '1990-07-31T00:00:00+00:00': 0,
  '1990-08-31T00:00:00+00:00': 0,
  '1990-09-30T00:00:00+00:00': 3,
  '1990-10-31T00:00:00+00:00': 0,
  '1990-11-30T00:00:00+00:00': 0,
  '1990-12-31T00:00:00+00:00': 0,
  '1991-01-31T00:00:00+00:00': 0,
  '1991-02-28T00:00:00+00:00': 0,
  '1991-03-31T00:00:00+00:00': 0,
  '1991-04-30T00:00:00+00:00': 0,
  '1991-05-31T00:00:00+00:00': 0,
  '1991-06-30T00:00:00+00:00': 0,
  '1991-07-31T00:00:00+00:00': 0,
  '1991-08-31T00:00:00+00:00': 0,
  '1991-09-30T00:00:00+00:00': 0,
  '1991-10-31T00:00:00+00:00': 0,
  '1991-11-30T00:00:00+00:00': 0,
  '1991-12-31T00:00:00+00:00': 0,
  '1992-01-31T00:00:00+00:00': 0,
  '1992-02-29T00:00:00+00:00': 0,
  '1992-03-31T00:00:00+00:00': 0,
  '1992-04-30T00:00:00+00:00': 0,
  '1992-05-31T00:00:00+00:00': 0,
  '1992-06-30T00:00:00+00:00': 1,
  '1992-07-31T00:00:00+00:00': 1,
  '1992-08-31T00:00:00+00:00': 1,
  '1992-09-30T00:00:00+00:00': 2,
  '1992-10-31T00:00:00+00:00': 0,
  '1992-11-30T00:00:00+00:00': 0,
  '1992-12-31T00:00:00+00:00': 0,
  '1993-01-31T00:00:00+00:00': 0,
  '1993-02-28T00:00:00+00:00': 0,
  '1993-03-31T00:00:00+00:00': 0,
  '1993-04-30T00:00:00+00:00': 0,
  '1993-05-31T00:00:00+00:00': 0,
  '1993-06-30T00:00:00+00:00': 0,
  '1993-07-31T00:00:00+00:00': 0,
  '1993-08-31T00:00:00+00:00': 0,
  '1993-09-30T00:00:00+00:00': 0,
  '1993-10-31T00:00:00+00:00': 0,
  '1993-11-30T00:00:00+00:00': 0,
  '1993-12-31T00:00:00+00:00': 0,
  '1994-01-31T00:00:00+00:00': 0,
  '1994-02-28T00:00:00+00:00': 0,
  '1994-03-31T00:00:00+00:00': 0,
  '1994-04-30T00:00:00+00:00': 0,
  '1994-05-31T00:00:00+00:00': 0,
  '1994-06-30T00:00:00+00:00': 0,
  '1994-07-31T00:00:00+00:00': 2,
  '1994-08-31T00:00:00+00:00': 0,
  '1994-09-30T00:00:00+00:00': 3,
  '1994-10-31T00:00:00+00:00': 0,
  '1994-11-30T00:00:00+00:00': 0,
  '1994-12-31T00:00:00+00:00': 0,
  '1995-01-31T00:00:00+00:00': 0,
  '1995-02-28T00:00:00+00:00': 0,
  '1995-03-31T00:00:00+00:00': 0,
  '1995-04-30T00:00:00+00:00': 0,
  '1995-05-31T00:00:00+00:00': 0,
  '1995-06-30T00:00:00+00:00': 0,
  '1995-07-31T00:00:00+00:00': 1,
  '1995-08-31T00:00:00+00:00': 1,
  '1995-09-30T00:00:00+00:00': 4,
  '1995-10-31T00:00:00+00:00': 0,
  '1995-11-30T00:00:00+00:00': 0,
  '1995-12-31T00:00:00+00:00': 0,
  '1996-01-31T00:00:00+00:00': 0,
  '1996-02-29T00:00:00+00:00': 0,
  '1996-03-31T00:00:00+00:00': 0,
  '1996-04-30T00:00:00+00:00': 0,
  '1996-05-31T00:00:00+00:00': 0,
  '1996-06-30T00:00:00+00:00': 0,
  '1996-07-31T00:00:00+00:00': 0,
  '1996-08-31T00:00:00+00:00': 1,
  '1996-09-30T00:00:00+00:00': 1,
  '1996-10-31T00:00:00+00:00': 0,
  '1996-11-30T00:00:00+00:00': 0,
  '1996-12-31T00:00:00+00:00': 0,
  '1997-01-31T00:00:00+00:00': 0,
  '1997-02-28T00:00:00+00:00': 0,
  '1997-03-31T00:00:00+00:00': 0,
  '1997-04-30T00:00:00+00:00': 0,
  '1997-05-31T00:00:00+00:00': 0,
  '1997-06-30T00:00:00+00:00': 0,
  '1997-07-31T00:00:00+00:00': 6,
  '1997-08-31T00:00:00+00:00': 3,
  '1997-09-30T00:00:00+00:00': 0,
  '1997-10-31T00:00:00+00:00': 1,
  '1997-11-30T00:00:00+00:00': 0,
  '1997-12-31T00:00:00+00:00': 0,
  '1998-01-31T00:00:00+00:00': 0,
  '1998-02-28T00:00:00+00:00': 0,
  '1998-03-31T00:00:00+00:00': 0,
  '1998-04-30T00:00:00+00:00': 0,
  '1998-05-31T00:00:00+00:00': 0,
  '1998-06-30T00:00:00+00:00': 0,
  '1998-07-31T00:00:00+00:00': 2,
  '1998-08-31T00:00:00+00:00': 7,
  '1998-09-30T00:00:00+00:00': 5,
  '1998-10-31T00:00:00+00:00': 3,
  '1998-11-30T00:00:00+00:00': 0,
  '1998-12-31T00:00:00+00:00': 0,
  '1999-01-31T00:00:00+00:00': 0,
  '1999-02-28T00:00:00+00:00': 0,
  '1999-03-31T00:00:00+00:00': 0,
  '1999-04-30T00:00:00+00:00': 0,
  '1999-05-31T00:00:00+00:00': 0,
  '1999-06-30T00:00:00+00:00': 0,
  '1999-07-31T00:00:00+00:00': 1,
  '1999-08-31T00:00:00+00:00': 6,
  '1999-09-30T00:00:00+00:00': 1,
  '1999-10-31T00:00:00+00:00': 0,
  '1999-11-30T00:00:00+00:00': 0,
  '1999-12-31T00:00:00+00:00': 0,
  '2000-01-31T00:00:00+00:00': 0,
  '2000-02-29T00:00:00+00:00': 0,
  '2000-03-31T00:00:00+00:00': 0,
  '2000-04-30T00:00:00+00:00': 0,
  '2000-05-31T00:00:00+00:00': 0,
  '2000-06-30T00:00:00+00:00': 0,

In [156]:
type(hmcounts)

pandas.core.series.Series